*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.mrb filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.TMP filter=lfs diff=lfs merge=lfs -text
*.016 filter=lfs diff=lfs merge=lfs -text
*.256 filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.inf filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.ffn filter=lfs diff=lfs merge=lfs -text
*.BMP filter=lfs diff=lfs merge=lfs -text
*.lay filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.scc filter=lfs diff=lfs merge=lfs -text
*.DLL filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.cab filter=lfs diff=lfs merge=lfs -text
*.fsh filter=lfs diff=lfs merge=lfs -text
*.FFN filter=lfs diff=lfs merge=lfs -text
*.ctr filter=lfs diff=lfs merge=lfs -text
*.Ctr filter=lfs diff=lfs merge=lfs -text
*.scr filter=lfs diff=lfs merge=lfs -text
*.CRP filter=lfs diff=lfs merge=lfs -text
*.hud filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
*.fac filter=lfs diff=lfs merge=lfs -text
*.loc filter=lfs diff=lfs merge=lfs -text
*.per filter=lfs diff=lfs merge=lfs -text
*.prt filter=lfs diff=lfs merge=lfs -text
*.trk filter=lfs diff=lfs merge=lfs -text
*.trn filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.crp filter=lfs diff=lfs merge=lfs -text
*.tpg filter=lfs diff=lfs merge=lfs -text
*.mad filter=lfs diff=lfs merge=lfs -text
*.FSH filter=lfs diff=lfs merge=lfs -text
*.clr filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.pfn filter=lfs diff=lfs merge=lfs -text
*.psh filter=lfs diff=lfs merge=lfs -text
*.eng filter=lfs diff=lfs merge=lfs -text
*.viv filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.BIN filter=lfs diff=lfs merge=lfs -text
*.CSV filter=lfs diff=lfs merge=lfs -text
*.DAT filter=lfs diff=lfs merge=lfs -text
*.DES filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.ais filter=lfs diff=lfs merge=lfs -text
*.sim filter=lfs diff=lfs merge=lfs -text
*.spl filter=lfs diff=lfs merge=lfs -text
*.bnk filter=lfs diff=lfs merge=lfs -text
*.key filter=lfs diff=lfs merge=lfs -text
*.scn filter=lfs diff=lfs merge=lfs -text
*.cop filter=lfs diff=lfs merge=lfs -text
*.RHO filter=lfs diff=lfs merge=lfs -text
*.rho filter=lfs diff=lfs merge=lfs -text
*.dtx filter=lfs diff=lfs merge=lfs -text
*.edg filter=lfs diff=lfs merge=lfs -text
*.env filter=lfs diff=lfs merge=lfs -text
*.jnc filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.lsp filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.ICD filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.sys filter=lfs diff=lfs merge=lfs -text
*.EXE filter=lfs diff=lfs merge=lfs -text
*.TAG filter=lfs diff=lfs merge=lfs -text
*.INI filter=lfs diff=lfs merge=lfs -text
*.EX_ filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.ins filter=lfs diff=lfs merge=lfs -text
*.lid filter=lfs diff=lfs merge=lfs -text
*.hlp filter=lfs diff=lfs merge=lfs -text
*.GID filter=lfs diff=lfs merge=lfs -text
*.HLP filter=lfs diff=lfs merge=lfs -text
*.reg filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.wineskin_manager filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/ObjectiveC_Extension.framework/Versions/A/ObjectiveC_Extension filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.strings filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/wswine.bundle/bin/wine filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/wswine.bundle/bin/wine-preloader filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/wswine.bundle/bin/wine32on64 filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/wswine.bundle/bin/wine32on64-preloader filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/wswine.bundle/bin/wine64 filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/wswine.bundle/bin/wine64-preloader filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/wswine.bundle/bin/wineserver filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.cpl filter=lfs diff=lfs merge=lfs -text
*.dll16 filter=lfs diff=lfs merge=lfs -text
*.drv16 filter=lfs diff=lfs merge=lfs -text
*.ocx filter=lfs diff=lfs merge=lfs -text
*.exe16 filter=lfs diff=lfs merge=lfs -text
*.ds filter=lfs diff=lfs merge=lfs -text
*.acm filter=lfs diff=lfs merge=lfs -text
*.drv filter=lfs diff=lfs merge=lfs -text
*.vxd filter=lfs diff=lfs merge=lfs -text
*.tlb filter=lfs diff=lfs merge=lfs -text
*.mod16 filter=lfs diff=lfs merge=lfs -text
*.fon filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.nls filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Frameworks/wswine.bundle/version filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/MacOS/WineskinLauncher filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/PkgInfo filter=lfs diff=lfs merge=lfs -text
*.update-timestamp filter=lfs diff=lfs merge=lfs -text
*.nib filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Resources/Scripts/WineskinQuitScript filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Resources/Scripts/WineskinShutdownScript filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Resources/Scripts/WineskinStartupScript filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.lnk filter=lfs diff=lfs merge=lfs -text
*.sav filter=lfs diff=lfs merge=lfs -text
*.lst filter=lfs diff=lfs merge=lfs -text
*.rpl filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.isu filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Contents/Resources/drive_c/windows/system32/gecko/2.47.1/wine_gecko/VERSION filter=lfs diff=lfs merge=lfs -text
*.manifest filter=lfs diff=lfs merge=lfs -text
*.xpi filter=lfs diff=lfs merge=lfs -text
*.ja filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.list filter=lfs diff=lfs merge=lfs -text
*.aff filter=lfs diff=lfs merge=lfs -text
*.dic filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.ppd filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/MacOS/Wineskin filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/7za filter=lfs diff=lfs merge=lfs -text
*.cexe filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/CustomEXE.app/Contents/MacOS/CustomEXE filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/appdb filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/cabextract filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/fntoggle filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/unrar filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/wine filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/wine32on64 filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/wine64 filter=lfs diff=lfs merge=lfs -text
/PorscheUnleashed.app/Wineskin.app/Contents/Resources/winehelp filter=lfs diff=lfs merge=lfs -text
